*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding-left: 150px;
    padding-top: 30px;
}

.header-child {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.header-para {
    color: #3e3e3e;
    align-items: center;
    padding-top: 5px;
    text-decoration: none;
}

.header-right {
    display: flex;
    justify-content: space-between;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vh;
    padding: 30px;
    gap: 25px;
}

.header-button {
    height: 30px;
    width: 70px;
    color: white;
    background-color: #000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.main-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-text-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.main-heading {
    padding-left: 100px;
    font-size: 60px;
    padding-top: 0%;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.main-heading span {
    font-weight: 600;
}

.main-para {
    padding-left: 100px;
    color: #96989a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-text button {
    margin-left: 100px;
    background-color: aqua;
    width: 115px;
    height: 27px;
    border: none;
    cursor: pointer;
}

.middle-text-right .img {
    padding-right: 100px;
}